.shipping-wrap {
  max-width: 960px;
  margin: auto;
  position: relative;
  padding-bottom: 40px;

  .track__line {
    ul li:nth-child(2)::after {
      background: black;
    }
  }
  .shipping__main {
    margin-top: 20px;
    display: flex;
  }
  .shipping-form {
    text-transform: uppercase;
    font-size: 13px;
    form {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        input {
          width: 301px;
          height: 34px;
          border: solid 1px color(gray-2);
          padding: 0 10px;
        }

        input[type="radio"] {
          width: 15px;
          height: 15px;
          margin-left: auto;
          margin-right: 20px;
        }

        select {
          width: 301px;
          height: 34px;
          border: solid 1px color(gray-2);
          padding: 0 10px;
        }
      }
      #seperate-address input[type="radio"] {
        margin-right: 77px;
      }
    }
  }
  .shipping-help {
    height: 200px;
    background: #eeee;
    margin-left: 40px;
    text-align: center;
    display: none;
    h4 {
      padding: 18px;
      border-bottom: solid 3px color(gray-2);
      margin-bottom: 17px;
      font-size: 13px;
      text-transform: uppercase;
    }
    p {
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 13px;
    }

    p:nth-child(1) {
      font-weight: 600;
    }
  }
}
