.suggest {
  padding: 20px 0;
  max-width: 960px;
  background-color: white;
  margin: auto;
  border-top: solid color(gray-2) 1px;
  border-bottom: solid color(gray-2) 1px;

  .suggest__head {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
  }

  .suggest__list {
    .item {
      img {
        margin-bottom: 15px;
      }
      p {
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}
